
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>


<p><b>Abbreviation</b> @Model.Abbrev</p>
<p><b>Department</b> @Model.Department</p>
<p><b>Name:</b> @Model.Name</p>

<div>
    @Html.ActionLink("Back to list", "All")
</div>

